
<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <!-- <th>ID</th> -->
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let friend of  currentUser">
                <!-- <td><span>{{friend.id}}</span></td> -->
                <td><span>{{friend.firstname}}</span></td>
                <td><span>{{friend.lastname}}</span></td>

                <td><span>{{friend.email}}</span></td>

            </tr>
        </tbody>
    </table>
</div>
